# .env.example
MONGODB_URI=mongodb+srv://tasnimmuhammad51_db_user:00TUCmKVleeLI39s@shop.oinjnvt.mongodb.net/Shop?retryWrites=true&w=majority

MONGODB_DB=Shop



JWT_SECRET=your-super-secret-key-here-change-this-in-production

SSLCOMMERZ_STORE_ID=mdtas69ce45c44a62f
SSLCOMMERZ_STORE_PASSWORD=mdtas69ce45c44a62f@ssl
SSLCOMMERZ_IS_LIVE=false


# admin Email : admin@somikoron.com
# Password: admin123
